.app {
  background: linear-gradient(90deg, rgba(27,64,112,1) 0%, rgba(22,57,57,1) 98%);
  /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);  */
  width: 100%; 
  height: 130vh; 
  padding: 2rem;
} 

.heading {
  width: 90%;
  height: fit-content; 
  margin: 0 auto;
  border: 0.2px solid #fff;
  border-radius: 10px;
  padding: 2rem;
} 

.heading h1 {
  color: aliceblue;
  font-family: sans-serif;
  font-size: 3rem; 
  text-align: center;
}

.heading p {
  color: rgb(218, 212, 212);
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 0.5rem;
}

.app-form {
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin: 2rem;
}

.app-form label {
  color: antiquewhite;
  font-family: 'Courier New', Courier, monospace;
  margin: 0.7rem;
  text-align: center;
}

.app-form input {
  border: none;
  border-radius: 7px;
  height: 1.5rem;
  text-align: center;
}

.displayed-names {
  width: 70%;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
  grid-gap: 4rem;
  width: 100%;  */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  height: 60vh; 
  overflow-y: scroll;
}

.single-name {
  height: 3rem;
  background: rgb(128, 124, 124, 0.6);
  min-width: 10px;
  border-radius: 10px;
  display: flex; 
  align-items: center; 
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}

.single-name:hover {
  background-color: rgba(87, 83, 83, 0.6);
}

.single-name a {
  text-decoration: none;
  color: #fff; 
}